
.dsmeta-red-btn {
  height: 45px;
  width: 45px;
  background: rgba(255, 107, 114, 0.1);
  border: 1px solid #cf292f;
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;  
}

.dsmeta-red-btn:hover {
  border-color: blanchedalmond;
  background: rgba(255, 255, 255, 0.603);
}

.dsmeta-red-btn img {
    width: 20px;
}